<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization**

Estimated time needed: **45** minutes

In this lab, you will focus on data visualization. The dataset will be provided through an RDBMS, and you will need to use SQL queries to extract the required data.

## Objectives

After completing this lab, you will be able to:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize composition and comparison of data.

## Demo: How to work with database

Download the database file.

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

**Install and Import Necessary Python Libraries**

Ensure that you have the required libraries installed to work with SQLite and Pandas:

In [ ]:
!pip install pandas 
!pip install matplotlib

import pandas as pd
import matplotlib.pyplot as plt

**Read the CSV File into a Pandas DataFrame**

Load the Stack Overflow survey data into a Pandas DataFrame:

In [ ]:
# Read the CSV file
df = pd.read_csv('survey-data.csv')

# Display the first few rows of the data
df.head()

**Create a SQLite Database and Insert the Data**

Now, let's create a new SQLite database (`survey-data.sqlite`) and insert the data from the DataFrame into a table using the sqlite3 library:

In [ ]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect('survey-data.sqlite')

# Write the dataframe to the SQLite database
df.to_sql('main', conn, if_exists='replace', index=False)


# Close the connection
conn.close()

**Verify the Data in the SQLite Database**
Verify that the data has been correctly inserted into the SQLite database by running a simple query:

In [ ]:
# Reconnect to the SQLite database
conn = sqlite3.connect('survey-data.sqlite')

# Run a simple query to check the data
QUERY = "SELECT * FROM main LIMIT 5"
df_check = pd.read_sql_query(QUERY, conn)

# Display the results
print(df_check)

## Demo: Running an SQL Query

Count the number of rows in the table named 'main'

In [ ]:
QUERY = """
SELECT COUNT(*) 
FROM main
"""
df = pd.read_sql_query(QUERY, conn)
df.head()

## Demo: Listing All Tables

To view the names of all tables in the database:

In [ ]:
QUERY = """
SELECT name as Table_Name FROM sqlite_master 
WHERE type = 'table'
"""
pd.read_sql_query(QUERY, conn)

## Demo: Running a Group By Query
    
For example, you can group data by a specific column, like Age, to get the count of respondents in each age group:

In [ ]:
QUERY = """
SELECT Age, COUNT(*) as count
FROM main
GROUP BY Age
ORDER BY Age
"""
pd.read_sql_query(QUERY, conn)

## Demo: Describing a table

Use this query to get the schema of a specific table, main in this case:

In [ ]:
table_name = 'main'

QUERY = """
SELECT sql FROM sqlite_master 
WHERE name= '{}'
""".format(table_name)

df = pd.read_sql_query(QUERY, conn)
print(df.iat[0,0])

## Hands-on Lab

### Visualizing the Distribution of Data

**Histograms**

Plot a histogram of CompTotal (Total Compensation).

In [ ]:
## Write your code here

# Histogram of CompTotal

# Query to get CompTotal data
QUERY = "SELECT CompTotal FROM main WHERE CompTotal IS NOT NULL"
df_comp = pd.read_sql_query(QUERY, conn)

# Create histogram
plt.figure(figsize=(10, 6))
plt.hist(df_comp['CompTotal'], bins=50, edgecolor='black', alpha=0.7, color='skyblue')
plt.title('Distribution of Total Compensation')
plt.xlabel('Total Compensation ($)')
plt.ylabel('Frequency')
plt.grid(True, alpha=0.3)
plt.tight_layout()
plt.show()

print(f"Total respondents: {len(df_comp)}")
print(f"Mean: ${df_comp['CompTotal'].mean():,.2f}")
print(f"Median: ${df_comp['CompTotal'].median():,.2f}")

**Box Plots**

Plot a box plot of Age.

In [ ]:
## Write your code here

# Box Plot of Age

# Age mapping
age_mapping = {
    'Under 18 years old': 16,
    '18-24 years old': 21,
    '25-34 years old': 29.5,
    '35-44 years old': 39.5,
    '45-54 years old': 49.5,
    '55-64 years old': 59.5,
    '65 years or older': 70
}

# Query and convert
QUERY = "SELECT Age FROM main WHERE Age IS NOT NULL"
df_age = pd.read_sql_query(QUERY, conn)
df_age['Age_numeric'] = df_age['Age'].map(age_mapping)

# Create box plot
plt.figure(figsize=(10, 6))
plt.boxplot(df_age['Age_numeric'].dropna(), vert=True)
plt.title('Distribution of Age (Box Plot)')
plt.ylabel('Age (years)')
plt.grid(True, alpha=0.3, axis='y')
plt.tight_layout()
plt.show()

print(f"Median age: {df_age['Age_numeric'].median():.1f} years")

### Visualizing Relationships in Data

**Scatter Plots**

Create a scatter plot of Age and WorkExp.

In [ ]:
## Write your code here

# Scatter Plot of Age and WorkExp

# Query data
QUERY = """
SELECT Age, WorkExp 
FROM main 
WHERE Age IS NOT NULL AND WorkExp IS NOT NULL
"""
df_scatter = pd.read_sql_query(QUERY, conn)

# Map age to numeric
age_mapping = {
    'Under 18 years old': 16, '18-24 years old': 21, '25-34 years old': 29.5,
    '35-44 years old': 39.5, '45-54 years old': 49.5, '55-64 years old': 59.5,
    '65 years or older': 70
}
df_scatter['Age_numeric'] = df_scatter['Age'].map(age_mapping)

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(df_scatter['Age_numeric'], df_scatter['WorkExp'], alpha=0.5, s=20, c='blue')
plt.title('Age vs Work Experience')
plt.xlabel('Age (years)')
plt.ylabel('Work Experience (years)')
plt.grid(True, alpha=0.3)
plt.tight_layout()
plt.show()

print("Scatter plot created")

**Bubble Plots**

Create a bubble plot of `TimeSearching` and `Frustration` using the Age column as the bubble size.

In [ ]:
## Write your code here

# Bubble Plot of TimeSearching and Frustration with Age as size

# Query data
QUERY = """
SELECT TimeSearching, Frustration, Age 
FROM main 
WHERE TimeSearching IS NOT NULL AND Frustration IS NOT NULL AND Age IS NOT NULL
"""
df_bubble = pd.read_sql_query(QUERY, conn)

# Map age to numeric for bubble size
age_mapping = {
    'Under 18 years old': 16, '18-24 years old': 21, '25-34 years old': 29.5,
    '35-44 years old': 39.5, '45-54 years old': 49.5, '55-64 years old': 59.5,
    '65 years or older': 70
}
df_bubble['Age_numeric'] = df_bubble['Age'].map(age_mapping)

# Create bubble plot
plt.figure(figsize=(12, 7))
plt.scatter(df_bubble['TimeSearching'], df_bubble['Frustration'], 
           s=df_bubble['Age_numeric']*10, alpha=0.5, c='coral', edgecolors='black')
plt.title('Time Searching vs Frustration (Bubble size = Age)')
plt.xlabel('Time Searching')
plt.ylabel('Frustration Level')
plt.grid(True, alpha=0.3)
plt.tight_layout()
plt.show()

print("Bubble plot created")

### Visualizing Composition of Data

**Pie Charts**

Create a pie chart of the top 5 databases(`DatabaseWantToWorkWith`) that respondents wish to learn next year.

In [ ]:
## Write your code here

# Pie Chart of top 5 DatabaseWantToWorkWith

# Query top 5 databases
QUERY = """
SELECT DatabaseWantToWorkWith, COUNT(*) as count
FROM main
WHERE DatabaseWantToWorkWith IS NOT NULL
GROUP BY DatabaseWantToWorkWith
ORDER BY count DESC
LIMIT 5
"""
df_db = pd.read_sql_query(QUERY, conn)

# Create pie chart
plt.figure(figsize=(10, 8))
plt.pie(df_db['count'], labels=df_db['DatabaseWantToWorkWith'], autopct='%1.1f%%', startangle=90)
plt.title('Top 5 Databases Respondents Want to Learn')
plt.axis('equal')
plt.tight_layout()
plt.show()

print("Top 5 databases:")
print(df_db)

# Close connection after pie chart
conn.close()
print("\nDatabase connection closed after pie chart")

**Stacked Charts** 

Create a stacked bar chart of median `TimeSearching` and `TimeAnswering` for the age group 30 to 35.

In [ ]:
## Write your code here

# Stacked bar chart of median WorkWeekHrs and CodeRevHrs for age 30-35

# Reconnect
conn = sqlite3.connect('survey-data.sqlite')

# Query for age group 30-35 (using Age 25-34 and 35-44 as proxies)
QUERY = """
SELECT WorkWeekHrs, CodeRevHrs
FROM main
WHERE (Age LIKE '%30%' OR Age LIKE '%35%' OR Age = '25-34 years old' OR Age = '35-44 years old')
AND WorkWeekHrs IS NOT NULL AND CodeRevHrs IS NOT NULL
"""
df_stacked = pd.read_sql_query(QUERY, conn)

# Calculate medians
median_work = df_stacked['WorkWeekHrs'].median()
median_code = df_stacked['CodeRevHrs'].median()

# Create stacked bar chart
labels = ['Age 30-35']
work_hrs = [median_work]
code_hrs = [median_code]

x = range(len(labels))
width = 0.5

plt.figure(figsize=(10, 6))
plt.bar(x, work_hrs, width, label='Median WorkWeekHrs', color='steelblue')
plt.bar(x, code_hrs, width, bottom=work_hrs, label='Median CodeRevHrs', color='coral')

plt.ylabel('Hours')
plt.title('Median WorkWeekHrs and CodeRevHrs for Age Group 30-35')
plt.xticks(x, labels)
plt.legend()
plt.tight_layout()
plt.show()

print(f"Median WorkWeekHrs: {median_work:.2f}")
print(f"Median CodeRevHrs: {median_code:.2f}")

# Close connection after stacked chart
conn.close()
print("\nDatabase connection closed after stacked chart")

### Visualizing Comparison of Data

**Line Chart**

Plot the median `CompTotal` for all ages from 45 to 60.

In [ ]:
## Write your code here

# Line Chart of median CompTotal for ages 45-60

# Reconnect
conn = sqlite3.connect('survey-data.sqlite')

# Query for ages 45-60
QUERY = """
SELECT Age, CompTotal
FROM main
WHERE CompTotal IS NOT NULL
AND (Age = '45-54 years old' OR Age = '55-64 years old')
"""
df_line = pd.read_sql_query(QUERY, conn)

# Calculate median by age group
median_by_age = df_line.groupby('Age')['CompTotal'].median().sort_index()

# Create line chart
plt.figure(figsize=(10, 6))
plt.plot(median_by_age.index, median_by_age.values, marker='o', linewidth=2, markersize=8, color='green')
plt.title('Median Compensation Trends for Ages 45-60')
plt.xlabel('Age Group')
plt.ylabel('Median Compensation ($)')
plt.xticks(rotation=45, ha='right')
plt.grid(True, alpha=0.3)
plt.tight_layout()
plt.show()

print("Median compensation by age group:")
print(median_by_age)

# Close connection after line chart
conn.close()
print("\nDatabase connection closed after line chart")

**Bar Chart**

Create a horizontal bar chart using the `MainBranch` column.

In [ ]:
## Write your code here

# Horizontal Bar Chart of MainBranch

# Reconnect
conn = sqlite3.connect('survey-data.sqlite')

# Query MainBranch data
QUERY = """
SELECT MainBranch, COUNT(*) as count
FROM main
WHERE MainBranch IS NOT NULL
GROUP BY MainBranch
ORDER BY count DESC
"""
df_bar = pd.read_sql_query(QUERY, conn)

# Create horizontal bar chart
plt.figure(figsize=(12, 6))
plt.barh(df_bar['MainBranch'], df_bar['count'], color='teal', edgecolor='black')
plt.title('Responses by Main Branch')
plt.xlabel('Count')
plt.ylabel('Main Branch')
plt.grid(True, alpha=0.3, axis='x')
plt.tight_layout()
plt.show()

print("MainBranch distribution:")
print(df_bar)

# Close connection after bar chart
conn.close()
print("\nDatabase connection closed after bar chart")

### Summary

In this lab, you focused on extracting and visualizing data from an RDBMS using SQL queries and SQLite. You applied various visualization techniques, including:

- Histograms to display the distribution of CompTotal.
- Box plots to show the spread of ages.
- Scatter plots and bubble plots to explore relationships between variables like Age, WorkExp, `TimeSearching` and `TimeAnswering`.
- Pie charts and stacked charts to visualize the composition of data.
- Line charts and bar charts to compare data across categories.

### Close the Database Connection

Once the lab is complete, ensure to close the database connection:

In [ ]:
conn.close()

## Authors:
Ayushi Jain

### Other Contributors:
- Rav Ahuja
- Lakshmi Holla
- Malika

Copyright Â© IBM Corporation. All rights reserved.